name: Builds

on:
  push:
  pull_request:
  release:
    types: [created]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16
    # Silly hack to pass GOCACHE between steps
    - name: go env
      run: |
        echo "GOCACHE=$(go env GOCACHE)" >> $GITHUB_ENV
        echo "GOMODCACHE=$(go env GOMODCACHE)" >> $GITHUB_ENV
        echo "PATH=${PATH}:$(go env GOPATH)/bin" >> $GITHUB_ENV
    - uses: actions/cache@v2
      with:
        path: |
          ${{ env.GOCACHE }}
          ${{ env.GOMODCACHE }}
        key: ${{ runner.os }}-go-cache-${{ hashFiles('go.sum') }}
        restore-keys: |
           ${{ runner.os }}-go-cache-
    - name: go generate
      run: |
        go install github.com/tc-hib/go-winres@latest
        go generate
    - run: go build -v -trimpath -ldflags="-X main.Version=$(git describe --always --long --tags --dirty --broken)"
    - uses: actions/upload-artifact@v2
      with:
        name: totsugeki
        path: totsugeki.exe
        retention-days: 1
  release:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release'}}
    permissions:
      contents: write
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: totsugeki
    - uses: softprops/action-gh-release@v1
      with:
        files: totsugeki.exe
